body {
    background-color: #e6e6e6;
}
.btn-morado {
    background-color: rgb(68, 0, 153);
    border-color: transparent;
    color: white;
    border-radius: 5px;
}
.gradiente-morado {
    background-image: linear-gradient(-90deg, rgb(211, 0, 152), rgb(68, 0, 153));
    color: white;
}
.border-morado {
    border-width: 2px;
    border-style: inset;
    border-color: rgb(68, 0, 153);;
}
/* .productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 30px;
    
} */

.tarjetas__efecto {
    box-shadow: none;
    padding: 10px;
    margin: 10px;
}
.tarjetas__efecto:hover {
    -webkit-box-shadow: -1px 6px 29px 6px rgba(194,184,194,1);
    -moz-box-shadow: -1px 6px 29px 6px rgba(194,184,194,1);
    box-shadow: -1px 6px 29px 6px rgba(194,184,194,1);
}

/* .carouselSection {
    height: 100%;
    padding: 10px;
}
@media (max-width: 576px) {
    .carouselSection {
        height: 300px;
    }
    .carouselSection img {
        height: 150px;
    }
} */
@media (max-width: 576px) {
    .productos {
        grid-template-columns: 1fr 1fr; 
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

.b-example-divider {
height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
flex-shrink: 0;
width: 1.5rem;
height: 100vh;
}

.bi {
vertical-align: -.125em;
fill: currentColor;
}

.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}

.nav-scroller .nav {
display: flex;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}